persistence:
  enabled: false
  type: pvc
  size: 1Gi
  storageClassName: "nfs-client"

datasources:
 datasources.yaml:
   apiVersion: 1
   datasources:
      # <string, required> name of the datasource. Required
    - name: Prometheus
      # <string, required> datasource type. Required
      type: prometheus
      # <string, required> access mode. proxy or direct (Server or Browser in the UI). Required
      access: proxy
      # <int> org id. will default to orgId 1 if not specified
      orgId: 1
      # <string> url
      url: http://prometheus-operated.plaza-production.svc.cluster.local:9090
      # <string> database password, if used
      password:
      # <string> database user, if used
      user:
      # <string> database name, if used
      database:
      # <bool> enable/disable basic auth
      basicAuth:
      # <string> basic auth username
      basicAuthUser:
      # <string> basic auth password
      basicAuthPassword:
      # <bool> enable/disable with credentials headers
      withCredentials:
      # <bool> mark as default datasource. Max one per org
      isDefault:
      # # <map> fields that will be converted to json and stored in json_data
      # jsonData:
      #    graphiteVersion: "1.1"
      #    tlsAuth: true
      #    tlsAuthWithCACert: true
      # # <string> json object of data that will be encrypted.
      # secureJsonData:
      #   tlsCACert: "..."
      #   tlsClientCert: "..."
      #   tlsClientKey: "..."
      version: 1
      # <bool> allow users to edit datasources from the UI.
      editable: false

notifiers:
  notifiers.yaml:
    notifiers:
      - name: notification-channel-1
        type: telegram
        uid: telegram
        org_name: Main Org.
        is_default: true
        send_reminder: true
        frequency: 1h
        disable_resolve_message: false
        # See `Supported Settings` section for settings supporter for each
        # alert notification type.
        settings:
          chatid: "$CHATID"
          uploadImage: true
        secure_settings:
          bottoken: "$BOTTOKEN"


dashboardProviders:
  dashboardproviders.yaml:
      apiVersion: 1
      providers:
      - name: 'Overview'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default

dashboards:
  default:
    programaker:
      json: |
